/* Use border-box Box Sizing Everywhere 
 *
 * Paul Irish thinks this is a good idea. 
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Setting font-size on body to 62.5%
 *
 * This allows font at 1rem to equal 10px by default. Necessary for easy unit
 * conversions.
 */
body {
  font-size: 62.5%;
}
